#navbarNav {
    color: gray
}


.bg {
    background-color: #1a222217;

}


.navbar-nav {
    width: 90%;
}


li {
    list-style: none;
}

.columns {
    background-color: #3a546d;
    color: aliceblue;
}


.nav {
    color: aliceblue;
}


.col-4 {
    color: aliceblue;
    background-color: #157fd5;
}

.avatar {
    width: 6%
}


.col-1{
    width: 10rem;

}
